<a href="https://colab.research.google.com/github/jcpradole/curso-completo-estadistica/blob/main/Copia_de_Clase03_IA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! pip install -q kaggle

# Nueva secci√≥n

# Nueva secci√≥n

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
! mkdir ~/.kaggle

In [ ]:
! chmod 600 ~/.kaggle/kaggle.json
! kaggle datasets list

ref                                                             title                                         size  lastUpdated          downloadCount  voteCount  usabilityRating
--------------------------------------------------------------  -------------------------------------------  -----  -------------------  -------------  ---------  ---------------
ahsan81/hotel-reservations-classification-dataset               Hotel Reservations Dataset                   480KB  2023-01-04 12:50:31           3521        131  1.0
thedevastator/global-fossil-co2-emissions-by-country-2002-2022  Emissions by Country, 2002-2022              621KB  2023-01-02 20:10:36           1770         58  1.0
die9origephit/fifa-world-cup-2022-complete-dataset              Fifa World Cup 2022: Complete Dataset          7KB  2022-12-18 22:51:11           6626        202  1.0
rakkesharv/spotify-top-10000-streamed-songs                     Spotify Top 10000 Streamed Songs             280KB  2023-01-02 08:17:15           1619         56  1.0
meirnizri/covid19-dataset                                       COVID-19 Dataset                               5MB  2022-11-13 15:47:17          19258        519  1.0
omkargowda/suicide-rates-overview-1985-to-2021                  Suicide Rates Overview (1985 to 2021)        539KB  2023-01-04 15:11:45           1264         53  1.0
devrimtuner/list-of-cities-proper-by-population-density         List of cities proper by population density    3KB  2023-01-05 09:08:19           1113         48  0.9411765
thedevastator/analyzing-credit-card-spending-habits-in-india    Credit Card Spending Habits in India         319KB  2022-12-14 07:30:37           3558         91  1.0
ahsan81/superstore-marketing-campaign-dataset                   Superstore Marketing Campaign Dataset         55KB  2023-01-02 19:25:08           1487         43  1.0
devrimtuner/list-of-moststreamed-songs-on-spotify               Top 100 Spotify Songsüëëüé§üéßüéº                      3KB  2022-12-30 05:42:54           1313         48  1.0
devrimtuner/top-100-video-games                                 Top 50 Video Games                             2KB  2022-12-30 06:06:16            721         29  1.0
devrimtuner/top-100list-of-bestselling-mobile-phones            (TOP 100)List of best-selling mobile phones    2KB  2022-12-30 07:23:56            876         41  0.9411765
pavelbiz/monthly-btc-rate-from-2014-to-present                  Monthly BTC rate from 2014 to present          4KB  2023-01-07 08:42:15            603         26  1.0
michals22/coffee-dataset                                        Coffee dataset                                24KB  2022-12-15 20:02:12           5754        121  1.0
parasharmanas/global-hunger-index-2022-trends                   Global Hunger Index 2022 Trends                3KB  2022-12-28 13:37:11            724         26  1.0
arvindnagaonkar/power-generation-data                           Daily Power Generation Data                   15MB  2022-12-23 18:09:56           1327         32  0.9705882
aklimarimi/qs-world-ranked-universities-20182022                QS World ranked Universities (2018-2022)      51KB  2022-12-28 03:53:39           1228         53  1.0
thedevastator/unlock-profits-with-e-commerce-sales-data         E-Commerce Sales Dataset                       6MB  2022-12-03 09:27:17           5630        109  1.0
devrimtuner/top-50list-of-most-expensive-films                  (TOP 50)List of most expensive films üé¨üé¨üèÜü•áü•àü•â    2KB  2022-12-31 01:31:08            784         33  1.0
rajeshrampure/black-friday-sale                                 Black Friday Sale                              5MB  2022-12-24 09:37:49           2020         48  1.0

In [ ]:
! kaggle competitions download -c titanic

Downloading titanic.zip to /content
  0% 0.00/34.1k [00:00<?, ?B/s]
100% 34.1k/34.1k [00:00<00:00, 23.6MB/s]

In [ ]:
!unzip titanic.zip

Archive:  titanic.zip
  inflating: gender_submission.csv
  inflating: test.csv
  inflating: train.csv

In [ ]:
import pandas as pd
df=pd.read_csv('/content/train.csv')

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df['Age'].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [ ]:
stats= df.describe()
print(stats)

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [ ]:
pd.value_counts(df['Age'])

24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: Age, Length: 88, dtype: int64

In [ ]:
df['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

# Medidas de tendencia Central

In [ ]:
# Calculo de la mediana
df['Age'].mean()

29.69911764705882

In [ ]:
# Calculando la Mediana
df['Age'].median()

28.0

In [ ]:
# Calculando la Moda
df['Age'].mode()

0    24.0
dtype: float64

In [ ]:
# Usando el modulo de estadisticas
import statistics as stat
media=stat.mean(df['Age'])
mediana=stat.median(df['Age'])
moda=stat.mode(df['Age'])
print('Media',media)
print('Mediana',mediana)
print('Moda',moda)

Media nan
Mediana nan
Moda 24.0

In [ ]:
# Verificando Nulos
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
#Medidas de Posicion
c = df["Age"].quantile([.0, .25, 0.5, 1])
print(c)

0.00     0.420
0.25    20.125
0.50    28.000
1.00    80.000
Name: Age, dtype: float64

# Medidas de dispersion

In [ ]:
import numpy as np
std = df["Age"].std(ddof=0)
var = df["Age"].var(ddof=0)
assert(np.sqrt(var)==std)
print('Desviacion estandar', std)
print("varianza", var)

Desviacion estandar 14.516321150817316
varianza 210.72357975366614

In [ ]:
# Rango Y Rango intercuartilico
rango = df['Age'].max() - df['Age'].min()
iqr = df['Age'].quantile(.75) - df['Age'].quantile(.25)
print ('Rango', rango)
print ('IQR', iqr )

Rango 79.58
IQR 17.875